<div class='ui massive animated button' {{action 'startSession'}}>
	<div class="visible content">Start</div>
	<div class="hidden content">Session</div>
</div>

<div class='ui massive aligned center middle animated button' {{action 'stopSession'}}>
	<div class="visible content">Stop</div>
	<div class="hidden content">Session</div>
</div>

<button  ></button>
<button {{action 'stopSession'}}>Stop</button>

{{yield}}
